
<div class="col-lg-4 mt-3">
    <div class="card h-100">
        <div class="card-body">
            <h3 class="card-title">{{ data.title }}</h3>
            <p class="card-text">{{ data.text }}</p>
        </div>
        <div class="card-footer bg-light">
            <a href="{{ data.link }}" class="link ">Abrir</a>
        </div>
    </div>
</div>