---
layout: base
title: Inicio
---
<div class="row">
    {%- render "card-template", data: pages_data.about -%}

    {%- render "card-template", data: pages_data.training -%}

    {%- render "card-template", data: pages_data.jobs -%}
</div>
